.seccion{
    padding: 5rem 0;
    display: none;

    .text-center{
        text-align: center;
        margin-bottom: 2.5rem;
    }
}

.mostrar{
    display: block;
}

.ocultar{
    display: none;
}